* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /*
    Padrão de estilo
  **/
  font-family: var(--font-principal);
  font-size: 1.55rem;

  /*
    Cores
  **/
  --fundo-claro: #F8F8F8;
  --fundo-claro-2: #ebe0d6;
  --fundo-claro-transparente: #ebe0d6d8;
  --fundo-dourado-claro: #f3e8cc;
  --marrom-claro: #C3A58A;
  --marrom-claro-2: #A68F85;
  --marrom-medio: #66554D;
  --marom-medio-2: #5F4B3F;
  --marrom-escuro: #3A2620;
  --marrom-escuro-2: #261913;
  --verde-claro: #677B79;
  --verde-escuro: #132624;
  --dourado-claro: #A6873A;
  --dourado: #DAA520;
  --cinza-escuro: #33312B;

  /*
    Fontes
  **/

  --font-principal: Bebas Neue, sans-serif;
  --font-botao: 'Roboto Condensed', sans-serif;
  --font-leitura: 'Poppins', sans-serif;
}

body {
  align-items: center;
  min-height: 100vh;
}

.main {
  position: relative;
}


/* 
  Menu
**/

.wrapper {
  top: 0;
  width: 100%;
  padding: 0 3%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  background: linear-gradient(346deg, #d5c59f 5%, var(--fundo-dourado-claro) 95%);
  position: absolute;
}

.logo {
  img {
    padding-top: 10px;
    width: 450px;
    height: 105px;
  }
}

.menu-container {
  justify-content: space-between;
  letter-spacing: .8px;
  box-shadow: 10px 20px 30px #18181729;
  z-index: 50;
}

.menu-container a.contato {
  display: inline-flex;
  flex-wrap: wrap;
  font: 500 13.8px 'Roboto Condensed';
  text-transform: uppercase;
  padding: 10px 15px;
  color: var(--marrom-escuro-2);
  background: linear-gradient(315deg, rgba(218,165,32,1) 9%, rgba(166,135,58,1) 91%);
  border-radius: 15px;
  box-shadow: 0.5px 2px 20px #00000029;
  vertical-align: middle;
  align-items: center;
}

.menu-container a.contato:hover {
  font-size: 14px;
  background: #DAA520;
}

a.contato label {
  cursor: pointer;
}

.fa-solid.fa-phone {
  padding-right: 8px;
  font-size: 12px;
  color: var(--marrom-escuro-2);
}

.menu-container a {
  display: inline-block;
  margin: 0 10px;
  padding: 0px 10px;
  text-decoration: none;
  color: var(--dourado-claro);
  cursor: pointer;
  transition: 0.6s;
}

.menu-container a:hover {
  color: var(--marrom-escuro-2);
  transform: scale(1.04);
}

/*
  Slider
**/

.slider {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 100vh;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
}

.slide img {
  width: 100%;
}

.manual-navigation {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  opacity: .5;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: var(--fundo-claro);
}

#radio1:checked ~ .first {
  margin-left: 0;
  transition: 0.8s;
}

#radio2:checked ~ .first {
  margin-left: -25%;
  height: 80vh;
  transition: 0.8s;
}

#radio3:checked ~ .first {
  margin-left: -50%;
  height: 80vh;
  transition: 0.8s;
}

#radio4:checked ~ .first {
  margin-left: -75%;
  height: 80vh;
  transition: 0.8s;
}

.slide-title {
  width: 100%;
  display: flex;
  position: absolute;
  top: 50%;
  justify-content: center;
}

.slide-title label {
  font: 600 40px 'Poppins', sans-serif;
  color: var(--fundo-claro);
  letter-spacing: -2.5px;
  text-shadow: 1px 2px 30px #0000006d;
  text-decoration: none;
  cursor: pointer;
  transition: 0.6s;
}

.slide-title label:hover {
  transform: scale(1.04);
}

/*
  Cards
**/

.cards {
  margin: 0;
  padding: 30px 0;
  background: linear-gradient(146deg, #d8c79b 15%, var(--fundo-dourado-claro) 85%);
}

.card {
  display: flex;
  justify-content: space-around;
}

.card .card-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 20px;
  padding: 15px;
  text-align: center;
  width: 270px;
  height: 210px;
  border-radius: 10px;
  border: 1px solid #ebe0d694;
  box-shadow: 0px 5px 30px #2619134b;
  background-color: var(--fundo-claro);
}

.card .card-item:hover {
  background: linear-gradient(146deg, #534117d2 15%, var(--dourado-claro) 85%);
}

.card .card-item:hover > label {
  color: var(--fundo-dourado-claro);
}

.card .card-item:hover > i{
  color: var(--fundo-dourado-claro);
}

.card .card-item:hover > span {
  border-color: var(--marrom-claro);
}

.card-item > label {
  margin: 15px 0 30px 0;
  font: 400 18px 'Poppins', sans-serif;
  color: var(--dourado-claro);
  letter-spacing: -.5px;
  z-index: 15;
}

.card-item span {
  width: 60%;
  border-top: 1px solid var(--marrom-claro-2);
}

.card-item i {
  margin: 30px 0 15px 0;
  font-size: 35px;
  color: var(--dourado-claro);
}

.card-item img {
  margin: 5px 0 15px 0;
  transition: 1s;
}

/*
Headings
**/

.title {
  display: flex;
  justify-content: center;
}

.title h1 {
  font: 800 50px 'Poppins', sans-serif;
  color: linear-gradient(315deg, rgba(218,165,32,1) 9%, rgba(166,135,58,1) 91%);
  text-shadow: 0px .5px 2px #2619134b;
}

.gradient {
  background-image: linear-gradient(315deg, var(--marrom-escuro-2) 15%, var(--dourado) 85%);  
  background-clip: text;
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
  -webkit-text-fill-color: transparent;
}

/*
  Button
**/

.btn {
  font-weight: 400;
  font-size: 1.5rem;
  font-family: var(--font-principal);
  min-width: 250px;
  min-height: 40px;
  border-radius: 5px;
  box-shadow: 0.5px 2px 20px #00000029;
  opacity: 0.9;
}

.btn-info {
  padding: 1rem;
  border: 1px solid #DAA520;
  color: var(--fundo-claro-2);
}

/*  
  Margin & Padding
**/

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}


