* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.main {
  max-width: 1100;
  padding: 0 2%;
  display: flex;
  margin: 0 auto;
}

/* 
  Menu
**/

.logo {
  img {
    width: 400px;
    height: 400px;
  }
}